header
    nav.nav
        .img-header
            .logoWrapper
                img(src='../img/logo.png' alt='gazi-logo')
            .logoHeader
                b Gazi &Uuml;niversitesi Staj Sistemi
        ul
            li
                a(href='/myAdsCompany') &Idot;lanlar&imath;m
            li
                a(href='/companyProfile') Yeni &Idot;lan Ver
            li
                a(href='/appliedStudents') Ba&scedil;vuranlar
            li
                a(href='/certainAdsCompany') Kesinleşen Stajlar
            button.btn.logout
                b  &Ccedil;&imath;k&imath;&scedil;