header
    nav.nav
        .img-header
            .logoWrapper
                img(src='../img/logo.png' alt='gazi-logo')
            .logoHeader
                b Gazi &Uuml;niversitesi Staj Sistemi
        ul
            li
                a(href='/allAds') B&uuml;t&uuml;n &Idot;lanlar
            li
                a(href='/myAds') Ba&scedil;vurular&imath;m
            li
                a(href='/finalAd') Kesinle&scedil;en Stajlar&imath;m
            button.btn.logout
                b &Ccedil;&imath;k&imath;&scedil;