header
    nav.nav
        .img-header
            .logoWrapper
                img(src='../img/logo.png' alt='gazi-logo')
            .logoHeader
                b Gazi &Uuml;niversitesi Staj Sistemi
        ul
            li
                a(href='/waitingVerify') Onay Bekleyenler
            li
                a(href='/certainAdsSchool') Kesinleşen Stajlar
            button.btn.logout
                b  &Ccedil;&imath;k&imath;&scedil;