doctype html
html
    head
        // Head
        include _head
    body
        // Header
        include _headerSchool
        .ilanWrapper
            .ilanlarHeading
                u Onay Bekleyenler
            each appliedAd in appliedAds
                each ad in appliedAd.ads
                    each student in appliedAd.students
                        .ilan
                            .ilanHead
                                b= ad.adName.toUpperCase()
                            .ilanSirket
                                b= student.name.toUpperCase()
                            a(href = `waitingVerify/${appliedAd.id}`)
                                button.btn.showAds İlanı Görüntüle
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        //- script(type="module" src='/js/index.js')
        script(src='/js/bundle.js')

